:root{
    --fundo: #587adf;
    --frente-cartao: #5F9EA0;
    --verso-cartao: #5F9EA0;
    --destaque: #000080;
    --preto: #000000;
    --branco: #FFFFFF;
}

body{
    background-color: var(--fundo);
    margin: 0;
}

footer {
    background-color: var(--preto);
    position: fixed;
    bottom: 0;
    color: var(--branco);
    width: 100%;
    text-align: center;
}