:root{
    --fundo: #4169E1;
    --frente-cartao: #5F9EA0;
    --verso-cartao: #5F9EA0;
    --destaque: #000080;
    --preto: #000000;
    --branco: #FFFFFF;
}

body{
    background-color: var(--fundo);
}